{% extends "layout.html" %} {% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/src/templates/images/DigitalBusiness.jpg" class="d-block w-100" alt="768">
        </div>
        <div class="carousel-item">
            <img src="/src/templates/images/DigitalBusiness.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/src/templates/images/DigitalBusiness.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
{% endblock %}